body {
    background-color: #F7F6F2;
}

.myNav {
    background-color: #4B6587;
    opacity: 1;
    
}

.myName {
    padding: 0 0 0 7%;
    font-size: 27px;
    text-transform: uppercase;

}

.linkSpread {
    margin: 0 5px;
    font-size: 1.2rem;
}

.collapse {
    padding-right: 10%;
}

#twitLink {
    color: ghostwhite;
}
#faceLink{
    color: ghostwhite;
}

#instaLink {
    color: ghostwhite;
}

#good {
    color: ghostwhite;
}

body, html {
    height: 100%;
}

hr {
    border: 1px solid#4B6587;
    opacity: .2;
}

.greetings {
    margin-bottom: 7%;
}

.hero {
    max-width: 100%;
    height: 50%;
}

/* About Section Index */

.about {
    padding: 7% 0;
}

.small-bio {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-left: 7%;
    padding-right: 4%;
}

/* Contact Form */

.contactHeader {
    color: #C85C5C;
    font-size: 4rem;
    font-family: 'Montserrat-black', sans-serif;
    margin: 7% 0;
    text-align: center;
}

.contactSection {
   margin: 7% 20% 7% 27%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.256rem;
}

.formElement{
    margin: 3% 0;
    text-align: left;
}

textarea {
    height: 300px;
}

input[type=text], input[type=email], input[type=textarea]{
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    width: 700px;
    margin: 3px 0;
}

/* About Page */

.largeBio {
    padding: 15% 0;
}

.authorPhoto {
    height: 300px;
    width: 300px;
}

.aPageHeader {
    color: #C85C5C;
    font-size: 4rem;
    font-family: 'Montserrat-black', sans-serif;
    padding-bottom: 5%;
}

.aboutText {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/* Publications */

.bookPic {
   height: 300px;
   width: 200px;
}

.pubContainer {
    padding-left: 7%;
}

.publicationContainer {
    padding-bottom: 15%;
}

.pubRow {
    margin: 10% 0;
}

.pubHeader {
    color: #C85C5C;
    font-size: 4rem;
    font-family: 'Montserrat-black', sans-serif;
    margin: 15% 0;
    text-align: center;
}

.bookTitle {
    font-family: 'Georama', sans-serif;
    font-size: 2rem;
    color: #4B6587;
    letter-spacing: 1px;
    padding-bottom:3%;
}

.pubDetails {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.256rem;
}

/* Footer */

footer {
    background-color: #4B6587;
    
}

.social {
    color: ghostwhite;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2%;
  
}

.social-link {
    margin: 20px 10px;
    display: inline-block;
    color:ghostwhite;
    
    
}

.cright{
    color: ghostwhite;
    text-align: center;
    padding: 2% 0 5%;
}

.contact {
    color: ghostwhite;
    text-align: center;
    font-family: 'Georama', sans-serif;
    padding: 5% 0 0;
}

