/* frame */

body {
    border-radius: 5px;
    background-color: ghostwhite;
    transition-property: background-color;
    transition-duration: 4s;
 }
 
 .green {
     transition-property: color;
    transition-duration: 4s;
 }
 body:hover {
     background-color: #A6F0C6;
 }
 
 body:hover .green {
     color: #A6F0C6;
 }
 
 .green:hover {
     color: #A6F0C6;
 }

 .reverse-green {
     transition-property: color;
     transition-property: background-color;
     transition-duration: 4s;
     margin-top: 3%;
 }

 .reverse-green:hover{
     background-color: #010B13;
     color: #A6F0C6;
 }
 
 .pallet {
     background-color: #010B13;
     margin: 20px;
     border-radius: 5px;
     color: ghostwhite;
 }
 
 a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }
/* body {
    /* Original color background-color: #F7F6F2;
    background-color: #010B13;
} */

.myNav {
    /* Original blue color  background-color: #4B6587; */
    background-color: #010B13;
    opacity: 1;
    padding-top: 3%;
    
}

.myName {
    padding: 0 0 0 7%;
    font-size: 30px;
    text-transform: uppercase;

}

.linkSpread {
    margin: 0 5px;
    font-size: 1.5rem;
}

.collapse {
    padding-right: 10%;
}

#twitLink {
    color: ghostwhite;
}
#faceLink{
    color: ghostwhite;
}

#instaLink {
    color: ghostwhite;
}

#good {
    color: ghostwhite;
}

body, html {
    height: 100%;
}

hr {
    border: 1px solid ghostwhite;
    opacity: .2;
}

.greetings {
    margin-bottom: 7%;
}

.hero {
    max-width: 100%;
    height: 50%;
}

/*News Section*/

.news {
    margin-top: 15%;
    text-align: center;
    margin-bottom: 15%;
 

}

.update {
    text-align: center;
    font-size: 4rem;
    /* Original blue color: #009DAE; */ 
    color: ghostwhite;
    margin-bottom: 3%;
    font-weight:bold;
}

.news-text {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 3rem;
}

.btn {
    padding: 14px 40px;
    background-color: #A6F0C6;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

/* Otherworks */

.works {
    max-width: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.otherWorks {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

/* About Section Index */

.about {
    padding: 7% 0;
}

.small-bio {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.256rem;
    margin-left: 7%;
    padding-right: 4%;
    line-height: 2.5rem;
}

/* Contact Form */

iframe{

    color: #009DAE;
    font-size: 4rem;
    font-family: 'Montserrat-black', sans-serif;
    margin: 7% 0;
    text-align: center;
    background-color: transparent;

}

.myForm{
    background: transparent;
    border: none;
}

.contactHeader {
    color: ghostwhite;
    font-size: 4rem;
    font-family: 'Montserrat-black', sans-serif;
    margin: 7% 0;
    text-align: center;
}

.contactSection {
   /* margin: 7% 20% 7% 27%; */
   margin: 7% 15%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.256rem;
}

.formElement{
    margin: 3% 0;
    text-align: left;
    margin-left: 10%;
}

textarea {
    height: 300px;
}

input[type=text], input[type=email], input[type=textarea]{
    background: transparent;
    border: none;
    border-bottom: 2px solid ghostwhite;
    width: 700px;
    /* width: 100%; */
    margin: 3px 0;
    /* margin-left: 20%; */

}

/* .btn {
    background-color: ghostwhite;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.256rem;
    margin: 3% 40% 0;
} */

.info {
    font-family: 'Montserrat', sans-serif;
    font-size: 1;
    color: red;
    margin-left: 10%;
}

.g-recaptcha {
    margin-left: 30%;
    
}

.form-button {
    margin-left: 38%;
}

.status {
    margin-left: 10%;
    font-size: 1;
}
/* About Page */

.largeBio {
    padding: 15% 0;
    margin-left: 25%;
    
}

.authorPhoto {
    height: 300px;
    width: 300px;
}

.aPageHeader {
    color: #009DAE;
    font-size: 4rem;
    font-family: 'Montserrat-black', sans-serif;
    padding-bottom: 5%;
}

.aboutText {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

/* Animation */

.indexContainer {
    padding-left: 20%;
    margin-top: 20%;
}

.greetingHead {
    margin: auto;
    padding-left: 5%;
}

.greetings {
    font-family: 'Georama', sans-serif;
    text-align: left;
    color: ghostwhite;
    margin-top: 5%;
    font-size: 6rem;
    font-weight: bold;
  
}

.myName-two {
    font-family: 'Ephesis', cursive;
    font-size: 7rem;
    transition-property: color;
    transition-duration: 4s;
    color: ghostwhite;
    font-weight: bold;
}

.myName-two:hover {
    color: #A6F0C6;
}

/* Publications */

.bookPic {
   height: 300px;
   width: 200px;
}

.pubContainer {
    padding-left: 7%;
}

.publicationContainer {
    padding-bottom: 15%;
}

.pubRow {
    margin: 10% 0;
}

.pubHeader {
    color: #009DAE;
    font-size: 4rem;
    font-family: 'Montserrat-black', sans-serif;
    margin: 15% 0;
    text-align: center;
}

.bookTitle {
    font-family: 'Georama', sans-serif;
    font-size: 2rem;
    color: #4B6587;
    letter-spacing: 1px;
    padding-bottom:3%;
}

.pubDetails {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.256rem;
}

/* Footer */

footer {
    /* background-color: #4B6587; */
    
}

.social {
    color: ghostwhite;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 2%;
  
}

.social-link {
    margin: 20px 10px;
    display: inline-block;
    color:ghostwhite;
    
    
}

.cright{
    color: ghostwhite;
    text-align: center;
    padding: 2% 0 5%;
}

.contact {
    color: ghostwhite;
    text-align: center;
    font-family: 'Georama', sans-serif;
    padding: 5% 0 0;
}

.aForm{
    width: 100%;
}

#sent {
    color: red;
    font-size: 1.256rem;
    
}



/* Error Page */

.oops {
    margin: 50%;
    color: black;
    font-family: 'Montserrat', sans-serif;
    /* width: 40%; */
    font-size: 4rem;
}